@import '../config.scss';


.container-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &.not-empty {
        justify-content: flex-start;
    }

    p {
        color: $primaryColor;
        font-size: 14px;
        display: block;
        font-weight: 800;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 48px;
        border-radius: 12px;
        background-color: $mediumGreyColorOpacity;
        width: 96%;
        border: none;
        outline: none;
        color: $primaryColor;
        padding: 0px 15px;
        margin-bottom: 15px;

        img {
            margin-right: 15px;
        }
    }

    @media screen and (min-width: $mediaQueryDesktop) {
        img {
            width: 500px;
        }

        p {
            font-size: 20px;
        }

        button {
            display: block;
            width: 175px;
            height: 40px;
            background-color: $secondaryColor;
            border: none;
            color: white;
            border-radius: 12px;
            font-size: 16px;
            align-items: center;

            span {
                font-size: 20px;
                letter-spacing: 2px;
            }
        }
    }
}