@import './config.scss';

.container-footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $primaryColor;

    span{
        display: block;
        font-size: 14px;
        color: $primaryColor;
   }

    @media screen and (min-width: $mediaQueryDesktop) {
        border-top: 1px solid $lightGreyColor;
        padding: 15px;
        
        button{
             display: none;
        }
 
        span{
             display: block;
             font-size: 14px;
             color: $primaryColor;
        }
    }
}