@import './config.scss';

.container-form{
    display: flex;
    
    align-items: center;
    justify-content: center;

    

    .form-header{
        

        p{

        }

        input{

        }
    }

    .form-footer{

    }

    @media screen and (min-width: $mediaQueryDesktop) {
        .form-header{
            display: flex;
            flex-direction: column;
    
            p{
    
            }
    
            input{
    
            }
        }
    
        .form-footer{
    
        }
    }
}